<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	lang="en">

<head>
	<title>Thymeleaf JS • TodoMVC</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" href="/images/favicon.ico"/>
	<link rel="stylesheet" href="/styles/todo.min.css">

	<script src="/scripts/todo.min.js" defer></script>
	<script id="initial-todos" type="application/json" th:inline="javascript">
		/*[[${todos}]]*/
	</script>
</head>

<body>
	<section class="todoapp">
		<header class="header">
			<h1>todos</h1>
			<input class="new-todo" placeholder="What needs to be done?" autofocus>
		</header>

		<div id="todo-list" th:insert="~{todo-list :: todo-list(${todos})}"></div>
		<div id="todo-footer" th:insert="~{todo-footer :: todo-footer(${todos})}"></div>

	</section>
	<footer class="info">
		<p>Double-click to edit a todo</p>
		<p>Created by <a href="http://www.ultraq.net.nz/">Emanuel Rabina</a></p>
		<p>Part of <a href="http://todomvc.com">TodoMVC</a> (well, not really...)</p>
	</footer>
</body>

</html>
