<footer class="footer"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:thjs="http://www.thymeleafjs.org"
	th:fragment="todo-footer(todos)"
	th:if="${todos.size() > 0}" thjs:if="${allTodos.length}">

	<span class="todo-count"
		th:text="#{list.items-left(${activeTodos.size()})}"
		thjs:text="#{list.items-left(${activeTodos.length})}">
		X items left
	</span>

	<ul class="filters">
		<li>
			<a href="#/" th:class="${filter} == 'none' ? 'selected'"
				th:text="#{list.select-all}">Select all</a>
		</li>
		<li>
			<a href="#/active" th:class="${filter} == 'active' ? 'selected'"
				th:text="#{list.select-active}">Select active</a>
		</li>
		<li>
			<a href="#/completed" th:class="${filter} == 'completed' ? 'selected'"
				th:text="#{list.select-completed}">Select completed</a>
		</li>
	</ul>

	<button class="clear-completed"
		th:if="${completedTodos.size() > 0}"
		th:text="#{list.clear-completed}"
		thjs:if="${completedTodos.length}">
		Clear completed
	</button>

</footer>
