<ul class="todo-list"
	xmlns:th="http://www.thymeleaf.org">

	<!-- Should include the separate todo-list-item.html fragment, but needs
	     th:fragment in thymeleaf-js to work
	     https://github.com/ultraq/thymeleaf-js/issues/8 -->
	<li class="todo"
		th:each="todo: ${todos}"
		th:attr="data-todo-id=${todo.id}"
		th:classappend="${todo.completed} ? 'completed'">
		<div class="view">
			<input class="toggle" type="checkbox" th:checked="${todo.completed}">
			<label th:text="${todo.value}">Taste JavaScript</label>
			<button class="destroy"></button>
		</div>
		<input class="edit" value="Taste JavaScript" th:value="${todo.value}">
	</li>

</ul>
