<footer class="footer"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:thjs="http://www.thymeleafjs.org"
	th:fragment="todo-footer(todos)"
	th:if="${todos.size() > 0}" thjs:if="${todos.length}">

	<span class="todo-count">
		<strong th:text="${activeTodos.size()}" thjs:text="${activeTodos.length}">0</strong>
		<th:block th:text="${activeTodos.size()} == 1 ? 'item' : 'items'"
			thjs:text="${activeTodos.length} === 1 ? 'item' : 'items'">items</th:block>
		left
	</span>

	<ul class="filters">
		<li>
			<a href="#/" th:class="${filter} == 'none' ? 'selected'">All</a>
		</li>
		<li>
			<a href="#/active" th:class="${filter} == 'active' ? 'selected'">Active</a>
		</li>
		<li>
			<a href="#/completed" th:class="${filter} == 'completed' ? 'selected'">Completed</a>
		</li>
	</ul>

	<button class="clear-completed"
		th:if="${completedTodos.size() > 0}"
		thjs:if="${completedTodos.length}">
		Clear completed
	</button>

</footer>
